.root {
  --arrow: #8c00ff;
}

#topButton {
  visibility: hidden;
  position: fixed;
  bottom: 90px;
  right: 18px;
  z-index: 99;
  outline: none;
  background-color: black;
  cursor: pointer;
  /* padding: 15px; */
  border-radius: 50%;
  font-size: 25px;
}

#topButton:hover {
  background-color: #000;
  transition: all ease-in-out 0.2s;
}

i {
  color: var(--arrow);
}
