:root {
  --bg-color: white;
  --color: black;
}

.main {
  width: 90%;
  /* padding: 20px 10px; */
  margin: 0px auto;
  padding: 1rem 2rem;
  transition: all 0.25s linear;
  /* margin-top: 4rem; */
}

.greet-main {
  width: 90%;
  /* padding: 20px 10px; */
  margin: 0px auto;
  /* margin-top: 2rem; */
  padding: 1rem 2rem;
  /* background-color: var(--bg-color); */
  transition: all 0.25s linear;
}

.gretting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
  /* border: 5px solid; */
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.subTitle {
  color: #868e96;
  padding: 0 0 5px 0;
}

.greeting-text {
  font-size: 60px;
}

.greeting-sub-text {
  font-size: 40px;
  line-height: 1.1;
  margin: 0 0 0 0;
}

.greeting-text-p {
  font-size: 25px;
  line-height: 40px;
}

.greeting-image-div > img {
  max-width: 100%;
  height: auto;
}

.wave-emoji-motion {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 50% 50%;
}

.wave-emoji {
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
    line-height: 0.5;
  }
  .greeting-sub-text {
    font-size: 30px;
    line-height: 1.1;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .main {
    width: auto;
  }
  .greet-main {
    width: auto;
  }
  .button-greeting-div {
    justify-content: space-around;
    display: block;
  }
  .greeting-text {
    font-size: 30px;
    text-align: center;
  }
  .greeting-sub-text {
    font-size: 20px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    /* text-align: center; */
  }
  .greeting-main {
    display: block;
  }
}
